
@media (max-width: 1319px) {
    .status-assessment-wrapper{
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        gap: 70px;
        margin-top: 20px;
    }
    .status-wrapper{
        flex: 0 1 auto !important;
    }
    .user-info-wrapper{
    }
    .appointment-info{
        /* margin-top: 30px; */
        /* width: 550px; */
        /* padding-left: 70px; */
    }
    .user-info-image_wrapper{
        gap: 40px;
    }
}

@media (max-width: 1180) {
    .user-info-wrapper {
        justify-content: center !important;
        flex-wrap: nowrap !important;
        width: 2000px !important;
    }
    .user-image{
        width: 500px !important;
    }
}